name: "Protocol Buffer Go Stubs Generation"

on:
    push:
        tags:
            - v**

permissions:
    contents: write

jobs:
    protoc:
        name: "Generate"
        runs-on: ubuntu-latest
        strategy:
            matrix:
                service: ["order"]
        steps:
            - name: Install Go
              uses: actions/setup-go@v2
              with:
                go-version: 1.25
            - name: Checkout ref
              uses: actions/checkout@v2
              with:
                token: ${{ secrets.GITHUB_TOKEN }}
                fetch-depth: 0
            - name: Extract release version
              run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
            - name: Generate for Golang
              run: |
                chmod +x "${GITHUB_WORKSPACE}/run.sh"
                ./run.sh ${{ matrix.service }} ${{ env.RELEASE_VERSION }}
